# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# EAS
.easignore

# Native builds
ios/
android/
*.orig.*

# Metro / RN
.metro-health-check*

# misc
.DS_Store
*.pem
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*

# typescript
*.tsbuildinfo

# macOS
.DS_Store
